.form {
  display: grid;
  row-gap: 1.5rem;
  width: 100%;
}

.form__wrapper {
}

.form__input,
.form__input--message {
  padding-bottom: 1rem;
  padding-left: 0.875rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.form__input--message {
  resize: none;
}

.form__error {
  font-style: italic;
  letter-spacing: 1px;
}

.form__error,
.form__input--error,
.form__input--error::placeholder {
  color: #f67e7e;
}
.form__input--error {
  border-color: #f67e7e;
}

.form__input--error::placeholder {
  opacity: 85%;
}
